<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <center><h2>admin login</h2></center>
        <table>
            <tr>
                <th>user name </th>
                <td><input type="text"placeholder="username"></td>
            </tr>
            <tr>
                <th>password</th>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><a href=""><button type="button"><a href="{% url "log in</button></a> </td>
            </tr>
        </table>
    </form>
</body>
</html>